<h1 class="page-title"> Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %> </h1>

  <div class="row">
      <div class="media">
        <div class="media-body">
          <% @topics.each do |topic| %>
          <div class="col-md-12">
          <h3 class="media-heading topic-title">
             <%= link_to topic.title, topic %>
          </h3>
          <% topic.bookmarks.each do |bookmark| %>
            <div class="col-sm-8 card">
              <div class="well">
                <%= image_tag bookmark.thumbnail, size: '100', class: 'preview' %>
                <p><%= link_to bookmark.url, bookmark.url,  target: '_blank' %> </p>
                <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
              </div>
            </div>

        <% end %>
          </div>
      </div>
      </div>
        </div>
      <% end %>
