<h1 class="page-title">My Profile</h1>
<div class="row" id="bookmarks">
  <h2>My Bookmarks</h2>
    <div class="col-md-8 card">
      <% @user_bookmarks.each do |bookmark| %>
        <ul>
          <li class="well">
            <div>
              <h4><%="#{bookmark.topic.title}"%></h4>
              <%= image_tag bookmark.thumbnail, size: '100', class: 'preview' %>
              <%= link_to bookmark.url, bookmark.url,  target: '_blank' %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
</div>
<div class="row" id="bookmarks">
  <h2>Liked Bookmarks</h2>
  <div class="col-md-8 card">
    <% @liked_bookmarks.each do |bookmark| %>
      <ul>
        <li class="well">
          <div>
            <h4><%="#{bookmark.topic.title}"%></h4>
            <%= image_tag bookmark.thumbnail, size: '100', class: 'preview' %>
            <%= link_to bookmark.url, bookmark.url,  target: '_blank' %>
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
