<!DOCTYPE html>
<html>
  <head>
    <title>MarkIt!</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto|Sofia' %>
    <%= stylesheet_link_tag 'application', 'https://use.fontawesome.com/releases/v5.7.2/css/all.css' %>
  </head>

  <body>
    <ul class="nav nav-tabs">
    <li class="markit-nav"><%= link_to "Markit", root_path %></li>
    <li><%= link_to "Topics", topics_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "My Bookmarks", user_path(current_user) %></li>
    <% end %>

    <% if user_signed_in? %>
      <li>Signed in as: <strong><%= current_user.email %></strong></li> |
      <li class="pull-right"><%= link_to 'Edit profile', edit_user_registration_path %></li>
      <li class="pull-right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path%></li>
      <li class="pull-right"><%= link_to "Sign In", new_user_session_path%> </li>
    <% end %>

  </ul>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
